<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row" flLayoutAling="start" fxLayoutGap="16px" >
                       <mat-form-field class="full-width">
                            <mat-label>Nome: *</mat-label>
                            <input type="text" 
                                        [(ngModel)]="cliente.nome"
                                        name="nome"
                                        placeholder="Henrique Kriguer"
                                        matInput
                                    />
                       </mat-form-field>
                    </div>
                    <div fxLayout="row" flLayout="start" fxLayoutGap="16px" >
                        <mat-form-field class="full-width">
                            <mat-label>CPF: *</mat-label>
                            <input type="text"[(ngModel)]="cliente.cpf"
                                        name="cpf" 
                                        mask="000.000.000-00"
                                        placeholder="000.000.000-00" matInput>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Data de Nascimento: *</mat-label>
                            <input type="text" [(ngModel)]="cliente.dataNascimento"
                                        name="dataNascimento"
                                        mask="00/00/0000"
                                        matInput>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Telefone: *</mat-label>
                            <input type="text" [(ngModel)]="cliente.telefone"
                                        name="telefone" 
                                        mask="(00)0000-0000"
                                        placeholder="(00) 00000-0000" matInput>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" flLayout="start" fxLayoutGap="" >
                        <mat-form-field class="full-width">
                            <mat-label>Email: *</mat-label>
                            <input type="email" [(ngModel)]="cliente.email"
                                        name="email" 
                                        placeholder="seuEmail@email.com" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                         <div fxLayout="row" flLayout="start" fxLayoutGap="" >
                            <mat-form-field class="full-width">
                                <mat-label>ID: *</mat-label>
                                <input type="id" [(ngModel)]="cliente.id"
                                            name="id" matInput readonly>
                            </mat-form-field>
                        </div>
                    </div>
                        <div fxLayout="row" flLayout="start" fxLayoutGap="16px">
                            <div fxLayout="column" fxFlex="100px">
                                <mat-form-field class="full-width">
                                    <mat-label> UF: *</mat-label>
                                    <mat-select (selectionChange)="carregarMunicipios($event)">
                                        <mat-option *ngFor="let uf of estados" [value]="uf.sigla">
                                            {{ uf.sigla }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxLayout="column" fxFlex="850px" >
                                <mat-form-field class="full-width">
                                    <mat-label> Municipio</mat-label>
                                    <mat-select>
                                        <mat-option *ngFor="let m of municipios" [value]="m.nome">
                                            {{ m.nome }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>>

                            </div>
                            
                        </div>
                    
                </mat-card-content>
                <mat-card-actions>
                    @if(!atualizando){
                        <div fxLayout.gt-lg="row">
                            <div fxLayout.gt-lg="column">
                                <button mat-flat-button color="primary" class="ml-10" type="submit">
                                    <mat-icon fontIcon="save"> 
                                    </mat-icon>
                                        Salvar
                                </button> 
                            </div>
                        </div>

                    } @else {
                         <button mat-flat-button color="primary" class="ml-5">
                                    <mat-icon fontIcon="refresh"> 
                                    </mat-icon>
                                        atualizar
                        </button>

                    }
                    <button mat-flat-button color="warn" class="ml-5">
                                    <mat-icon fontIcon="backspace"> 
                                    </mat-icon>
                                        limpar
                    </button> 
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>


